@media only screen {
    p#nav-button {
        margin:0;
        a .menu-icon{
            height: 3.625em;
            width: 3.625em;
            position:absolute;
            top:0;
            right: 0;
        }
    }

    html.no-svg {
        p#nav-button a {
            background:url("/images/menu.png") no-repeat 0 0 transparent;
            background-size:100% auto;
            display:block;
            height:3.625em;
            overflow:hidden;
            position:absolute;
            right:-0.9375em;
            text-indent:9999em;
            top:-0.5em;
            width:4em;
        }
        nav#mobile-nav p.close {
            text-align:right;
            text-transform:uppercase;
        }
        nav#mobile-nav p.close a {
            background-size:1.25em 1.25em;
            padding-left:1.875em;   
            // close-green.png
            background:url("http://www.anr.msu.edu/contentAsset/raw-data/208aa3ac-43d3-4a37-9e61-eb753fe3637b/fileAsset?byInode=true") no-repeat scroll left center transparent;
        }
    }
    nav#mobile-nav p.close{
        margin: 0;
    }
    nav#mobile-nav p.close a{
        display: block; 
        overflow: hidden;
        margin: 0;
        text-align: right;
        .close-icon{
            height: 1em;
            width: 1em;
        }

    }
    #close-icon path {
        fill: #fff;
        color: #fff;
    }
    nav#mobile-nav {
       // width:0; /* collapsed */
       display:none;
        overflow:hidden;

        position:fixed;
        top:0;
        right:0;
        height:100%;
        background-color:#E08D8E;
        z-index:10;
        transition: width 0.3s ease;
    }
    nav#mobile-nav .title-mobile {
        font-size:1.6em;
        line-height:1;
        font-weight:bold;
        border-top:4px double #fff;
        border-bottom:1px solid #fff;
        padding:.75em .9375em;
        margin: .5em -.9375em 1em;
    }
    nav#mobile-nav a {
        text-decoration:none;
        color: #fff;
    }
    nav#mobile-nav a:hover,
    nav#mobile-nav a:focus {
        text-decoration:underline;
    }
    nav#mobile-nav {
        background-color:#282829;
        color:#fff;
    }
   
    nav#mobile-nav ul {
        list-style:none;
        margin:0;
        padding:0;
    }
    nav#mobile-nav ul#nav-menu-mobile{
        margin:1em -.9375em; 
    }
    nav#mobile-nav li {
        border-top:.063em solid #fff;
    }
    nav#mobile-nav li:first-child {
        border-top:none;
    }
    nav#mobile-nav li a {
        display:block;
        padding:1em .9375em 1em .5em;
        margin:0;
        text-decoration:none;
    }
    nav#mobile-nav li.parent > a{
        // plus.svg
        background: url('http://www.anr.msu.edu/contentAsset/raw-data/e5cfca78-b925-4fb7-aac0-f5efdac5f658/fileAsset?byInode=true') right center no-repeat;
        background-size:.75em .75em;
    }
    nav#mobile-nav li.parent ul{
        // hides next level until clicked on
        display: none;
    }
    nav#mobile-nav li.active.parent > ul{
        display: block;
    }
    nav#mobile-nav li.active.parent > a{
        // minus.svg
        background: url('http://www.anr.msu.edu/contentAsset/raw-data/f7ae68bd-47b6-40e3-b7cf-d26bcbe7bac9/fileAsset?byInode=true') right center no-repeat;
        background-size:.75em .75em;
    }
    nav#mobile-nav li.active > a,
    nav#mobile-nav li a:focus,
    nav#mobile-nav li a:hover {
        text-decoration:underline;
    }
    nav#mobile-nav ul ul {
        border-top:.063em solid rgb(0,0,0);
    }
    nav#mobile-nav ul ul {
        border-top:.063em solid rgb(0,0,0);
    }
    nav#mobile-nav li.level_1:first-child{
        border-top:1px solid #fff;
    }
    nav#mobile-nav li.level_1 a{
        padding-left:1em;
        margin-right: .9375em;
    }
    nav#mobile-nav li.level_2 {
        background-color:#404041;
        border-top:1px dotted #fff;
    }
    nav#mobile-nav li.level_2:first-child{
        border-top:none;
    }
    nav#mobile-nav li.level_2 a {
        border-left:6px solid #6d6e70;
    }
    nav#mobile-nav li.level_3 {
        border-top: 1px dotted #000;
        background-color:#e6e7e8;
    }
    nav#mobile-nav li.level_3:first-child{
        border-top:none;
    }
    nav#mobile-nav li.level_3 a {
        color: #000;
        border-left:6px solid #a7a9ab;
        text-decoration: none;
        background-size:.75em .75em;
    }
    nav#mobile-nav li.level_3 a:hover,
    nav#mobile-nav li.level_3 a:focus,
    nav#mobile-nav li.level_3.active a{
        text-decoration: underline;
    }
    nav#mobile-nav:target {
        width:15em;
        padding:1em;
        overflow-y:visible;
        z-index:500;
        display:block;
        transition: display 0.3s ease;
    }
    nav#mobile-nav form { 
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #999999;
        border-radius: 3px;
        height: 28px;
        margin-bottom: 12px;
        width: 13em;
        overflow:hidden;
    }
    nav#mobile-nav form input[type=text] { 
        border:none;
        width:10.5em;
        padding-left:.25em;
        margin-top: .125em;
        color: #000;
    }
    nav#mobile-nav form input[type=submit] {
        //icon-search.svg
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/a7b8a03e-8885-457a-85fc-65fc9b031614/fileAsset?byInode=true") no-repeat scroll center center #FFFFFF;
        border: 0 none;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        float: right;
        height: 28px;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2em;
    }
    html.no-svg nav#mobile-nav form input[type=submit] {
        //icon-search.png
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/6e013273-ffe3-48af-b856-dc4d45e81596/fileAsset?byInode=true") no-repeat scroll center center #FFFFFF;
    }
    nav#mobile-nav:target + #wrap { 
        position:fixed;
        left:-15em;
        overflow-x:hidden;
        overflow-y:visible;
    }
    nav#mobile-nav:target ~ a#nav-button.nav-button {
        position:absolute;
        top:-500em !important;
    }
    nav#mobile-nav:target + #dark-cover {
        position:fixed;
        top:0;
        width:100%;
        height:100%;
        z-index:200;
        background-color: rgba(0,0,0,0.70); 
    }
    nav#mobile-nav:target + #dark-cover + #outer-wrap {
        overflow:hidden;
    }
}
@media only screen and (min-width: 40.063em) {
    p#nav-button,
    #dark-cover,
    nav#mobile-nav,
    ul#mobile-nav  { 
        display:none; 
    }
}