@media only screen {
    nav#top-nav{
        display: none;
        @media only screen and (min-width: 40.063em) {
            display: block;
            margin: 0 auto 1em auto;
            ul{
                padding: 0;
                margin: 0;
                overflow: hidden;
                list-style: none;
                li{
                    float: left;
                    a{
                        display: block;
                        padding: 1em 2em;
                        background-color: pink;
                        text-decoration: none;
                    }
                }
                li.active a{
                    text-decoration: underline;
                    background-color: blue;
                    color: #fff;
                }
            }
        }
    }
    div#nav-medium{
        display: none;
        @media only screen and (min-width: 40.063em) {
            display: block;
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li{
                    border-top:.063em solid rgb(0,0,0);
                    a{
                        display:block;
                        padding:1em .5em;
                        margin:0;
                        background-color:#ED9899;
                        text-decoration:none;
                        color:rgb(0,0,0);
                    }
                    a:hover{
                        text-decoration:underline;
	                   color:rgb(255,255,255);
                    }
                    ul{
                        display: none;
                        border-top:.063em solid rgb(0,0,0);
                        li.level_2 {
                            a{
                                background-color:#8EF1BB;
                            }
                        }
                    }
                }
                li:first-child{
                	border-top:none;
                }
                li.active a,
                li a:focus{
                    background-color:#89F3E0;
	               text-decoration:underline;
                }
                li.active{
                    ul{
                        display: block;
                        li.level_2 {
                            a{
                                text-decoration:none;
                            }
                        }
                        li.level_2.active{
                            a{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}