@import "http://www.anr.msu.edu/contentAsset/raw-data/633acb94-1581-4a5b-b70f-55001d5f594a/fileAsset?byInode=true";
@import "http://www.anr.msu.edu/contentAsset/raw-data/22d2249d-5b12-4242-9c75-b1b7d8335406/fileAsset?byInode=true";
@import "http://www.anr.msu.edu/contentAsset/raw-data/5dc70ee0-d9ce-4a80-a7a4-a3244b87a660/fileAsset?byInode=true";
@import "http://www.anr.msu.edu/contentAsset/raw-data/dabd13d2-7f83-4fe2-b3c7-90f93e83fd33/fileAsset?byInode=true";
@import "http://www.anr.msu.edu/contentAsset/raw-data/279be22f-18d1-48a5-a7c5-fa9cb77fb0fc/fileAsset?byInode=true";
@media only screen {
  .masthead-row {
    position: fixed;
    background-color: #fff;
    z-index: 100; }

  .masthead {
    height: 2.125em;
    margin-top: 1em; } }
  @media only screen and (min-width: 40.063em) {
    .masthead div.logo {
      float: left;
      width: 48%; } }
@media only screen {
    .masthead a {
      display: block;
      position: relative;
      height: 2.125em;
      max-width: 18.75em; }
      .masthead a .masthead {
        width: 100%;
        height: 100%;
        margin: 0; }

  html.no-svg div.masthead a {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/77909120-9e8a-424c-97c8-d72d8310a489/fileAsset?byInode=true") no-repeat center center;
    width: 298px;
    height: 34px;
    display: inline-block; }

  .title-row {
    padding-top: 2.5em; }
    .title-row h1 a {
      color: #18453b;
      text-decoration: none; }
    .title-row h1 a:hover,
    .title-row h1 a:focus {
      text-decoration: underline; }

  #networkElement,
  #cse-search-box {
    display: none; } }
@media only screen and (min-width: 40.063em) {
  #cse-search-box,
  #networkElement,
  .masthead form {
    display: block; }

  .masthead-row {
    position: relative; }

  .title-row {
    padding-top: 0; }

  div#search-medium {
    display: inline; }

  .masthead form {
    float: right;
    background: none repeat scroll 0 0 #FFFFFF;
    border: .0625em solid #999999;
    -webkit-border-radius: 0.1875em;
    -moz-border-radius: 0.1875em;
    -ms-border-radius: 0.1875em;
    border-radius: 0.1875em;
    height: 1.75em;
    margin-bottom: .75em;
    width: 18.75em;
    overflow: hidden; }

  .masthead form input[type=text] {
    border: none;
    width: 16em;
    padding-left: .25em;
    margin-top: .125em; }

  .masthead form input[type=submit] {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/a7b8a03e-8885-457a-85fc-65fc9b031614/fileAsset?byInode=true") no-repeat scroll center center white;
    border: 0 none;
    -webkit-border-radius: 0 0.1875em 0.1875em 0;
    -moz-border-radius: 0 0.1875em 0.1875em 0;
    -ms-border-radius: 0 0.1875em 0.1875em 0;
    border-radius: 0 0.1875em 0.1875em 0;
    cursor: pointer;
    float: right;
    height: 1.75em;
    margin: 0 auto;
    outline: 0 none;
    text-indent: -9999px;
    text-transform: capitalize;
    width: 2.125em; }

  html.no-svg .masthead form input[type=submit] {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/6e013273-ffe3-48af-b856-dc4d45e81596/fileAsset?byInode=true") no-repeat scroll center center white; } }
@media only screen {
  div#banner div.owl-item {
    position: relative; }
    div#banner div.owl-item div.text {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1em;
      padding: 1em;
      background-color: #000;
      color: #fff; }
      div#banner div.owl-item div.text a {
        color: #fff; } }
/*
for old banner setup
@media only screen {
    div#ns-container{
        display: none;
    }
}
@media only screen and (min-width: 40.063em) {
h2.banner-title {
	color:#fff;
    font-size: 1.5em;
	text-transform:uppercase;
	margin-top:1.125em;
}
div#ns-container {
	overflow: visible;
	position: relative;
    display: block;
}
img.newsslider-img {
	overflow: visible;
/*	position: relative; 
}
ul#ns-news { 	/* ID specificity overrides the .content class styles 
	overflow: visible;
	position: relative;
	padding: 0;
	list-style: none outside none;
	margin:0;
}

ul#ns-controls {
	cursor: pointer;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	position: absolute;
	bottom: 2.5em; 
	right: 1em;
	z-index: 50;
}

ul#ns-controls li {
	cursor: pointer;
	float: left;
	height: 25px;
	margin: 0 1px;
	padding: 0;
	text-indent: -9999px;
	text-transform: capitalize;
	width: 25px;
}

ul#ns-controls li#ns-prev { background: url(http://expeng.anr.msu.edu/images/sitewide/newsslider/ns-prev.png) no-repeat; }
ul#ns-controls li#ns-play { background: url(http://expeng.anr.msu.edu/images/sitewide/newsslider/ns-play.png) no-repeat; }
ul#ns-controls li#ns-pause { background: url(http://expeng.anr.msu.edu/images/sitewide/newsslider/ns-pause.png) no-repeat; }
ul#ns-controls li#ns-next { background: url(http://expeng.anr.msu.edu/images/sitewide/newsslider/ns-next.png) no-repeat; }

.not-banner-one { display: none !important; }

.show-banner { display: block !important; }

ul#ns-news li[class^=newsslider_] {
	/*max-height: 15.625em; 
	overflow: auto;
	padding: 0;
	position: relative;
	max-width: 100%;
}

ul#ns-news div.ns-caption {
	color: #fff;
    font-size: 0.875em;
	line-height: 1.2;
	padding:0 0 0 1em;
	width: 66%;
    margin-top: -16.625em;
    height: 15.2em;
}
div.ns-caption h2.banner-title {
	margin-top:2.5em;
	letter-spacing:.04em;
}
ul#ns-news a {
	color: #fff;
	text-decoration: none;
}

ul#ns-news div.ns-caption a span { 
	font-size: 11px;
	text-decoration: underline;
	text-transform: uppercase;
	vertical-align: middle;
}
}
*/
@media only screen {
  nav#top-nav {
    display: none; } }
  @media only screen and (min-width: 40.063em) {
    nav#top-nav {
      display: block;
      margin: 0 auto 1em auto; }
      nav#top-nav ul {
        padding: 0;
        margin: 0;
        overflow: hidden;
        list-style: none; }
        nav#top-nav ul li {
          float: left; }
          nav#top-nav ul li a {
            display: block;
            padding: 1em 2em;
            background-color: pink;
            text-decoration: none; }
        nav#top-nav ul li.active a {
          text-decoration: underline;
          background-color: blue;
          color: #fff; } }

@media only screen {
  div#nav-medium {
    display: none; } }
  @media only screen and (min-width: 40.063em) {
    div#nav-medium {
      display: block; }
      div#nav-medium ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        div#nav-medium ul li {
          border-top: 0.063em solid black; }
          div#nav-medium ul li a {
            display: block;
            padding: 1em .5em;
            margin: 0;
            background-color: #ED9899;
            text-decoration: none;
            color: black; }
          div#nav-medium ul li a:hover {
            text-decoration: underline;
            color: white; }
          div#nav-medium ul li ul {
            display: none;
            border-top: 0.063em solid black; }
            div#nav-medium ul li ul li.level_2 a {
              background-color: #8EF1BB; }
        div#nav-medium ul li:first-child {
          border-top: none; }
        div#nav-medium ul li.active a,
        div#nav-medium ul li a:focus {
          background-color: #89F3E0;
          text-decoration: underline; }
        div#nav-medium ul li.active ul {
          display: block; }
          div#nav-medium ul li.active ul li.level_2 a {
            text-decoration: none; }
          div#nav-medium ul li.active ul li.level_2.active a {
            text-decoration: underline; } }

@media only screen {
  footer {
    text-align: center;
    padding: 1em 0;
    background-color: #3f474d;
    color: #fff; }

  html.no-svg a.msu-wordmark-link.white {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/aa50b12a-62fc-408b-b114-aaa0eed5fbc2/fileAsset?byInode=true") no-repeat center center;
    width: 266px;
    height: 57px;
    display: inline-block; }
  html.no-svg a.msu-wordmark-link.green {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/83937a39-c132-42bf-8bd4-b0ed823ae133/fileAsset?byInode=true") no-repeat center center;
    width: 266px;
    height: 57px;
    display: inline-block; }
  html.no-svg a.msu-wordmark-link.black {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/00b70595-769a-4adc-9355-26e206dda4ed/fileAsset?byInode=true") no-repeat center center;
    width: 266px;
    height: 57px;
    display: inline-block; }

  .msu-wordmark-icon {
    max-height: 3.9375em;
    width: 100%; }

  #msu-wordmark-icon path,
  #msu-wordmark-icon rect {
    fill: white;
    color: white; }

  footer ul {
    margin: 0;
    padding: 0; }

  footer li {
    display: inline-block;
    border-left: 1px #fff dotted;
    padding: 0 .25em 0 .5em; }

  footer li:first-child {
    border-left: none; }

  footer li a {
    text-decoration: none;
    color: #fff; }

  footer li a:hover,
  footer li a:focus {
    text-decoration: underline; }

  #standard-footer-site-links {
    font-size: .8125em;
    border-bottom: 1px dotted #fff;
    margin-bottom: .65em;
    padding-bottom: .65em; }

  #standard-footer-MSU-info {
    font-size: .625em; }

  #standard-footer-MSU-info .spartans-will {
    text-transform: uppercase;
    font-weight: 700; }

  p.timestamp {
    font-size: .8125em; } }
@media only screen and (min-width: 40.063em) {
  div.footer-text.medium-9.columns {
    float: right !important; }

  footer {
    text-align: left; }

  p.timestamp {
    float: right; } }
  @media only screen and (min-width: 40.063em) and (min-width: 58.125em) {
    p.timestamp {
      margin-top: -1em; } }

@media only screen {
  p#nav-button {
    margin: 0; }
    p#nav-button a .menu-icon {
      height: 3.625em;
      width: 3.625em;
      position: absolute;
      top: 0;
      right: 0; }

  html.no-svg p#nav-button a {
    background: url("/images/menu.png") no-repeat 0 0 transparent;
    background-size: 100% auto;
    display: block;
    height: 3.625em;
    overflow: hidden;
    position: absolute;
    right: -0.9375em;
    text-indent: 9999em;
    top: -0.5em;
    width: 4em; }
  html.no-svg nav#mobile-nav p.close {
    text-align: right;
    text-transform: uppercase; }
  html.no-svg nav#mobile-nav p.close a {
    background-size: 1.25em 1.25em;
    padding-left: 1.875em;
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/208aa3ac-43d3-4a37-9e61-eb753fe3637b/fileAsset?byInode=true") no-repeat scroll left center transparent; }

  nav#mobile-nav p.close {
    margin: 0; }

  nav#mobile-nav p.close a {
    display: block;
    overflow: hidden;
    margin: 0;
    text-align: right; }
    nav#mobile-nav p.close a .close-icon {
      height: 1em;
      width: 1em; }

  #close-icon path {
    fill: #fff;
    color: #fff; }

  nav#mobile-nav {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #E08D8E;
    z-index: 10;
    transition: width 0.3s ease; }

  nav#mobile-nav .title-mobile {
    font-size: 1.6em;
    line-height: 1;
    font-weight: bold;
    border-top: 4px double #fff;
    border-bottom: 1px solid #fff;
    padding: .75em .9375em;
    margin: .5em -.9375em 1em; }

  nav#mobile-nav a {
    text-decoration: none;
    color: #fff; }

  nav#mobile-nav a:hover,
  nav#mobile-nav a:focus {
    text-decoration: underline; }

  nav#mobile-nav {
    background-color: #282829;
    color: #fff; }

  nav#mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }

  nav#mobile-nav ul#nav-menu-mobile {
    margin: 1em -.9375em; }

  nav#mobile-nav li {
    border-top: .063em solid #fff; }

  nav#mobile-nav li:first-child {
    border-top: none; }

  nav#mobile-nav li a {
    display: block;
    padding: 1em .9375em 1em .5em;
    margin: 0;
    text-decoration: none; }

  nav#mobile-nav li.parent > a {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/e5cfca78-b925-4fb7-aac0-f5efdac5f658/fileAsset?byInode=true") right center no-repeat;
    background-size: .75em .75em; }

  nav#mobile-nav li.parent ul {
    display: none; }

  nav#mobile-nav li.active.parent > ul {
    display: block; }

  nav#mobile-nav li.active.parent > a {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/f7ae68bd-47b6-40e3-b7cf-d26bcbe7bac9/fileAsset?byInode=true") right center no-repeat;
    background-size: .75em .75em; }

  nav#mobile-nav li.active > a,
  nav#mobile-nav li a:focus,
  nav#mobile-nav li a:hover {
    text-decoration: underline; }

  nav#mobile-nav ul ul {
    border-top: 0.063em solid black; }

  nav#mobile-nav ul ul {
    border-top: 0.063em solid black; }

  nav#mobile-nav li.level_1:first-child {
    border-top: 1px solid #fff; }

  nav#mobile-nav li.level_1 a {
    padding-left: 1em;
    margin-right: .9375em; }

  nav#mobile-nav li.level_2 {
    background-color: #404041;
    border-top: 1px dotted #fff; }

  nav#mobile-nav li.level_2:first-child {
    border-top: none; }

  nav#mobile-nav li.level_2 a {
    border-left: 6px solid #6d6e70; }

  nav#mobile-nav li.level_3 {
    border-top: 1px dotted #000;
    background-color: #e6e7e8; }

  nav#mobile-nav li.level_3:first-child {
    border-top: none; }

  nav#mobile-nav li.level_3 a {
    color: #000;
    border-left: 6px solid #a7a9ab;
    text-decoration: none;
    background-size: .75em .75em; }

  nav#mobile-nav li.level_3 a:hover,
  nav#mobile-nav li.level_3 a:focus,
  nav#mobile-nav li.level_3.active a {
    text-decoration: underline; }

  nav#mobile-nav:target {
    width: 15em;
    padding: 1em;
    overflow-y: visible;
    z-index: 500;
    display: block;
    transition: display 0.3s ease; }

  nav#mobile-nav form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    border-radius: 3px;
    height: 28px;
    margin-bottom: 12px;
    width: 13em;
    overflow: hidden; }

  nav#mobile-nav form input[type=text] {
    border: none;
    width: 10.5em;
    padding-left: .25em;
    margin-top: .125em;
    color: #000; }

  nav#mobile-nav form input[type=submit] {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/a7b8a03e-8885-457a-85fc-65fc9b031614/fileAsset?byInode=true") no-repeat scroll center center white;
    border: 0 none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    float: right;
    height: 28px;
    margin: 0 auto;
    outline: 0 none;
    text-indent: -9999px;
    text-transform: capitalize;
    width: 2em; }

  html.no-svg nav#mobile-nav form input[type=submit] {
    background: url("http://www.anr.msu.edu/contentAsset/raw-data/6e013273-ffe3-48af-b856-dc4d45e81596/fileAsset?byInode=true") no-repeat scroll center center white; }

  nav#mobile-nav:target + #wrap {
    position: fixed;
    left: -15em;
    overflow-x: hidden;
    overflow-y: visible; }

  nav#mobile-nav:target ~ a#nav-button.nav-button {
    position: absolute;
    top: -500em !important; }

  nav#mobile-nav:target + #dark-cover {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.7); }

  nav#mobile-nav:target + #dark-cover + #outer-wrap {
    overflow: hidden; } }
@media only screen and (min-width: 40.063em) {
  p#nav-button,
  #dark-cover,
  nav#mobile-nav,
  ul#mobile-nav {
    display: none; } }
svg {
  margin: 0; }

@media only screen {
  body {
    line-height: 1em; }

  h2.landmark {
    position: absolute;
    top: -3333em;
    left: -3333em; }

  body {
    color: #5c5c5c;
    line-height: 1;
    background-color: #3f474d; }

  #outer-wrap {
    width: 100%;
    height: 100%;
    float: left; }

  #inner-wrap {
    background-color: #fff; }

  article#content h2 {
    font: 1.75em 900;
    line-height: 1.1875; }
    article#content h2 a {
      text-decoration: none; }
    article#content h2 a:focus,
    article#content h2 a:hover {
      text-decoration: underline; }
  article#content h3 {
    font: 1.5em 800; }
  article#content h4 {
    font: 1.25em 700; }
  article#content h5 {
    font: 1em; }
  article#content a {
    color: #18453b; }
  article#content a:hover,
  article#content a:focus {
    text-decoration: none; }
  article#content p {
    margin: 1em 0;
    line-height: 1.4; }
  article#content li {
    margin: .5em 0;
    line-height: 1.4; }
  article#content blockquote {
    margin: 1em;
    line-height: 1.4; }
  article#content ul#crumbs {
    padding: 0;
    list-style: none;
    margin: 0; }
    article#content ul#crumbs li {
      display: inline-block;
      margin: 0; }
      article#content ul#crumbs li a {
        padding: 0.5em .5em .5em 0; }
    article#content ul#crumbs li:after {
      content: ">"; }
    article#content ul#crumbs li:last-child:after {
      content: ""; }
  article#content ul.paginate {
    padding: 0;
    margin: 0;
    list-style: 0;
    text-align: center; }
    article#content ul.paginate li {
      display: inline-block;
      padding: .5em 1em; }
    article#content ul.paginate li:first-child {
      padding-left: 0; }
    article#content ul.paginate li:last-child {
      padding-right: 0; } }
@media print {
  #mobile-nav,
  .top-links,
  #nav-button,
  #search-medium,
  #nav-wrap,
  .banner-home,
  .featured-home,
  #social,
  #standard-footer-site-links {
    display: none; }

  a {
    color: #000; }

  ul.products {
    list-style: none; }

  ul.products li {
    overflow: auto; }

  ul.products img {
    float: left;
    margin: 0 .5em .5em 0; }

  footer {
    text-align: center; }

  footer ul {
    list-style: none;
    overflow: auto;
    margin-bottom: 1em; }

  footer li {
    float: left;
    margin-left: 1em; }

  footer li:first-child {
    margin-left: 0; } }
