// shared/sitewide/css/sitewide.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/633acb94-1581-4a5b-b70f-55001d5f594a/fileAsset?byInode=true";
// shared/sitewide/css/normalize.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/22d2249d-5b12-4242-9c75-b1b7d8335406/fileAsset?byInode=true";
// shared/sitewide/css/foundation.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/5dc70ee0-d9ce-4a80-a7a4-a3244b87a660/fileAsset?byInode=true";
// shared/sitewide/css/tables-responsive.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/dabd13d2-7f83-4fe2-b3c7-90f93e83fd33/fileAsset?byInode=true";
// shared/anr_bar/scss/styles.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/279be22f-18d1-48a5-a7c5-fa9cb77fb0fc/fileAsset?byInode=true";
@import "mixins";
@import "variables";
@import "header";
@import "banner";
@import "nav-medium";
@import "footer";
@import "mobile-nav";

svg{
    margin: 0;
}
@media only screen {
    body {
        line-height: 1em;
    }
    h2.landmark {
        position: absolute;
        top:-3333em;
        left: -3333em;
    }
    body {
        color: $gray;
        line-height: 1;
        background-color:#3f474d;
    }
    #outer-wrap {
        width:100%;
        height:100%;
        float:left;
    }
    #inner-wrap{
        background-color:#fff;
    }
    article#content{
        h2{
            font:1.75em 900;
            line-height: 1.1875;
            a{
                text-decoration: none;
            }
            a:focus,
            a:hover{
                text-decoration: underline;
            }
        }
        h3 {
            font:1.5em 800;
        }
        h4 { 
            font: 1.25em 700;
        }
        h5 {
            font:1em;
        } 
        a{
            color: #18453b;
        }
        a:hover,
        a:focus{ 
            text-decoration: none;
        }
        p {
            margin: 1em 0;
            line-height: 1.4;
        }
        li{
            margin: .5em 0;
            line-height: 1.4;
        }
        blockquote{
            margin: 1em;
            line-height: 1.4;
        }
        
        ul#crumbs{
            padding: 0;
            list-style: none;
            margin: 0;
            li{
                display: inline-block;
                margin: 0;
                a{
                    padding: 0.5em .5em .5em 0;
                }
            }
            li:after{
             content: ">";
            } 
            li:last-child:after{
                content: "";
            }
        }
        ul.paginate,
        ul.pagination{
            padding: 0;
            margin: 0;
            list-style: 0;
            text-align: center;
            li{
                display: inline-block;
                padding: .5em 1em;
                a{

                }
                &.active{
                    a{
                        color:#000;
                        text-decoration:none;
                    }
                }
            }
            li:first-child{
                padding-left: 0;
            }
            li:last-child{
                padding-right: 0;
            }
        }
    }
}
@import "print";